aadict==0.2.3
asset==0.6.12
Django==2.1.5
django-mssql==1.8
django-pymssql==1.7.1
globre==0.1.5
lessc==0.1.2
mysqlclient==1.4.2.post1
pytz==2018.9
gunicorn==19.9.0
six==1.12.0
pymssql==2.1.4
uwsgi
django-extensions==2.1.6
pyOpenSSL==19.0.0
Werkzeug==0.15.1
