{% extends 'main/masterpage.html' %}

{% load staticfiles %}

{% block content %}

<style>
    body {
        visibility: hidden;
    }
</style>
<body id="page-top">


<!-- modals -->
<!-- Edit selected lock code -->
<div class="modal" id="editlockcodemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editlockcodemodaltitle">Edit Lock Code</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="editlockcodecontent">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="savelockcodeeditsbutton" onclick="savelockcodeedits();" type="button"
                        class="btn btn-primary">Save changes
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Call public safety? modal -->
<div class="modal" id="callpublicsafety" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="text-align:center;">
                <h3 class="modal-title" style="margin:0 auto;" id="callpublicsafetymodaltitle">CALL PUBLIC SAFETY?</h3>
            </div>
            <div class="modal-body" style="text-align:center;">
                <button class="btn btn-lg btn-success"><a style="color:white;" href="tel:8439535609">YES</a></button>
                <button class="btn btn-lg btn-danger" onclick="$('#callpublicsafety').modal('hide');">NO</button>
            </div>
        </div>
    </div>
</div>

<!-- new announcement modal -->
<div class="modal" id="announcement_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="text-align:center;">
                <h3>Make an announcement</h3>
            </div>
            <div class="modal-body" style="text-align:center;">
                <div
                        style="text-align:center;"><input id="announcement_title" placeholder="Announcement Title"/></div>
                <textarea rows="8" id="announcement_body"></textarea>
            </div>
            <div class="modal-footer">
                <button style="margin:10px auto;" class="btn btn-lg btn-primary" onclick="add_announcement();">Create
                    Announcement</button>
            </div>
        </div>
    </div>
</div>

<!-- Cannot delete yourself modal -->

<div class="modal" id="cantdeleteself" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="text-align:center;">
                <h3 class="modal-title" style="margin:0 auto;">You cannot delete your own account.</h3>
            </div>
        </div>
    </div>
</div>

<!-- add new gate modal -->
<!-- Edit selected lock code -->
<div class="modal" id="addnewgatemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addnewgatemodaltitle">Enter New Gate Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="addnewgatemodalcontent">
                    <input autofocus type="number" id="newgatenum" class="d-inline-block p-2" placeholder="Gate Number">
                    <input type="number" id="newgatecode" class="d-inline-block p-2" placeholder="Lock Code">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="savenewgatebutton" onclick="savenewgate();" type="button" class="btn btn-primary">Create New
                    Gate
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Delete selected lock code -->
<div class="modal" id="deletelockcodemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletelockcodemodaltitle">Delete Gate Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="deletelockcodecontent">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="deletelockcodebutton" onclick="deletelockcode();" type="button" class="btn btn-primary">
                    Delete Gate
                </button>
            </div>
        </div>
    </div>
</div>


<!-- add new gate modal -->
<!-- Edit selected lock code -->
<div class="modal" id="uploadphotomodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data">
                <div style="text-align:center;width:100%; padding:4px;margin:10px;">
                    <input type="file" style="margin:0 auto;" name="photo_file">
                    <input style="margin:18px auto; width:80%; height:100px;"id="caption"
                           name="caption"placeholder="Caption">
                </div>
                <div style="text-align:center;width:100%; padding:4px;margin:10px;">
                    <button class="btn btn-lg btn-success"
                        onclick="$('#my_preloader_container').fadeIn();location.reload();"
                        type="submit">
                    <i class="fa fa-upload"></i>
                </button>
                </div>
              </form>
        </div>
    </div>
</div>


<div id="my_preloader_container">
    <div style="position:absolute; top: 30%;text-align:center; left:30%; right:30%;">
        <div class="my_preloader"></div>
    </div>
</div>

<nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
    <!-- Separate ul's for left and right; put the dropdown on left !-->
    <!-- dropdown -->
    <ul class="navbar-nav ml-md-0">
        <li class="nav-item active" id="headeroptionsdropdown">
            <div class="nav-link dropdown ml-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-bars"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <!-- For everyone -->
                    <a class="regular_page_option" onclick="showannouncementsview();">General</a>
                    <div class="dropdown-divider"></div>

                    <!-- only for students and staff -->
                    {% if not current_user.is_superuser %}
                    <a class="regular_page_option" onclick="showscheduleview();">Schedule a Visit</a>
                    <div class="dropdown-divider"></div>
                    {% endif %}
                    <!-- only for admins -->
                    {% if current_user.is_superuser %}
                    <a class="regular_page_option" onclick="showallusersview();">All User Accounts</a>
                    <div class="dropdown-divider"></div>
                    <a class="regular_page_option" onclick="showlistview();">Visit Schedule</a>
                    <div class="dropdown-divider"></div>
                    {% endif %}
                    <!-- for all accounts -->
                    <a class="regular_page_option" onclick="showphotosview();">Photo Gallery</a>
                    <div class="dropdown-divider"></div>
                    <a class="regular_page_option" onclick="showlivemapview();">Live Map</a>

                </div>
            </div>
        </li>
    </ul>

    <!-- home, emergency, profile -->
    <ul class="navbar-nav ml-auto mr-md-0">
        <li class="nav-item active">
            <div class="nav-link" href="{% url 'srpwebapp:index' %}">
                <span>
                    <button id="homebtn" onclick="nav_home();" type="button" class="btn btn-secondary headerbtn">

                <i class="fa fa-fw fa-home"></i>
                    </button>
                </span>
            </div>
        </li>
        <li class="nav-item active">
            <div class="nav-link">
                <span>
                    <button id="arrivebtn" type="button" class="btn btn-info headerbtn " onclick="toggleuserstatus();">

                <i id="arrivebtnicon" class="fa fa-fw fa-check"></i>Arrived
                    </button>
                </span>
            </div>

        </li>
        <li class="nav-item active">
            <div class="nav-link" href="{% url 'srpwebapp:index' %}">
                <span>
                    <button id="emergencybtnsidebar" type="button"
                            onclick="$('#callpublicsafety').modal('show');" class="btn
                            btn-danger headerbtn">
                        <i class="fa fa-fw fa-ambulance"></i>&nbsp;EMERGENCY
                    </button>
                </span>
            </div>
        </li>
        <li class="nav-item active dropdown no-arrow mr-2">
            <div class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                <span>
                    <button id="userbtn" type="button" class="btn btn-dark">
                        <i class="fa fa-user-circle fa-fw"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right mr-2" aria-labelledby="userbtn">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"
                           onclick="logout();">Logout</a>
                    </div>
                </span>
            </div>

        </li>

        <!-- old, this one has messed up vertical alignment
        <li class="nav-item dropdown no-arrow mr-2">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <button id="userbtn" type="button" class="btn btn-dark">
                    <i class="fa fa-user-circle fa-fw"></i>
                </button>
            </a>
            <div class="dropdown-menu dropdown-menu-right mr-1" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal" onclick="logout();">Logout</a>
            </div>
        </li> -->
    </ul>

</nav><!-- end navigation bar -->


<!-- begin body wrapper -->
<div id="wrapper">
    <div id="content-wrapper">
        <!-- Welcome message -->
        <div class="container-fluid">


            <!-- owl carousel for swiping between views without loading new pages -->

            <div id="myCarousel" class="owl-carousel owl-theme">
                <!-- announcements view, contains announcements & gate lock info  (contacts / location) -->
                <div id="announcements" class="announcementsview">

                    <!-- place gate lock info  inside first item -->
                    <!-- begin gate lock info  -->
                    <div class="jumbotron jumbotron-fluid lanenarrow customheadertron">
                        <div class="container lanenarrow customcontainer" style="padding:20px;">
                            <div id="welcomemsg" class="welcomeHeader">Welcome to the Stono River Preserve,
                                {{ first_name }}!
                                <br/>Swipe between views or use the options below!
                            </div>
                            <!-- table on top of first page shows lock codes if user is faculty or super user -->
                            {% if current_user.is_staff or current_user.is_superuser %}
                            <div class="lockcodetablecontainer">
                                <table class="lockcodetable">
                                    <thead>
                                    <th colspan="3">Current Lock Codes</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Lock Code</td>
                                        <td>Gate</td>
                                        {% if current_user.is_superuser %}
                                        <td>Updates</td>
                                        {% endif %}
                                    </tr>
                                    {% for lc in lock_codes %}
                                    <tr>
                                        <td>{{ lc.lock_code }}</td>
                                        <td>{{ lc.gate_number }}</td>
                                        <!-- only show this third column if superuser -->
                                        {% if current_user.is_superuser %}
                                        <td>
                                            <!-- only allow edit/delete for superuser -->
                                            <button class="btn btn-info"
                                                    onclick="showeditlockcodemodal({{lc.id}},{{lc.gate_number}},{{lc.lock_code}});">
                                                <i class="fa fa-edit"></i></button>

                                            <button class="btn btn-danger"
                                                    onclick="showdeletelockcodemodal({{lc.id}});"><i
                                                    class="fa fa-trash"></i></button>
                                        </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                    {% if current_user.is_superuser %}
                                    <!-- only allow add new gate for superuser -->
                                    <tr>
                                        <td colspan="3">
                                            <button class="btn btn-success"
                                                    onclick="$('#addnewgatemodal').modal('show');">
                                                <i class="fa fa-plus"></i> Add New Gate
                                            </button>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            {% endif %}
                            <hr class="headerHR"/>
                            <ul class="regular_page_option_container">
                                <li class="regular_page_option"><a onclick="showannouncementsview()">General</a>
                                </li>
                                <li class="regular_page_option"><a onclick="showscheduleview()">Schedule a Visit</a>
                                </li>
                                <li class="regular_page_option"><a onclick="showphotosview();">Photo Gallery</a></li>
                                {% if current_user.is_superuser %}
                                <li class="regular_page_option"><a onclick="showlistview();">Visit Schedule</a></li>
                                <li class="regular_page_option"><a onclick="showallusersview();">View All Users</a></li>
                                {% endif %}
                                <li class="regular_page_option"><a onclick="showlivemapview();">Live Map</a></li>
                            </ul>
                            <hr class="headerHR"/>
                        </div>
                    </div>
                    <!-- end gate lock info  -->


                    <div class="text-center mb-2">
                        <div id="swipinggifcontainer">
                            <img class="swipinggif" src="{% static 'main/gifs/swiping.gif' %}">
                        </div>
                        <button class="d-inline-block btn btn-primary btn-sm"><i id="swipinggificon" class="fa fa-eye"
                                                                                 onclick="swipingtoggle();"></i>
                        </button>
                    </div>
                    <div class="newsheader">
                        <i class="fas fa-fw fa-newspaper"></i> Announcements
                        <!-- only allow supers to create announcements -->
                        {% if current_user.is_superuser %}
                            <button class="m-5 d-inline-block btn btn-lg btn-success"
                                    onclick="$('#announcement_modal').modal('show');">
                                <i class="fa fa-plus"></i> Add an Announcement
                            </button>
                        {% endif %}
                    </div>
                    <hr class="announcementsviewHR"/>
                    <div class="announcementscontent">

                        {% for a in announcements %}
                        <div class="announcementcontainer">
                            <div class="announcement_titlebutton_container">
                                <div class="announcementtitle">{{a.title}} (posted by {{a.username}} on {{a.date_created}}
                                    at {{a.time_created}})</div>
                                <!-- only allow supers to delete -->
                                {% if current_user.is_superuser %}
                                    <button
                                            onclick="delete_announcement({{a.id}});"class="deleteannouncementbutton btn btn-lg
                                            btn-primary btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                {% endif %}
                            </div>
                            <div class="announcementtext">
                                {{a.announcement}}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- card for important numbers -->
                    <div class="contactssection">
                        <div class="newsheader">
                            <i class="fas fa-fw fa-phone"></i> Contacts
                        </div>
                        <div class="card border-dark  text-black bg-info mb-3" style="margin:30px">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item contact">Public Safety: <a href="tel:+1-843-953-5609">843-953-5609</a>
                                </li>
                                <li class="list-group-item contact">SRPManager: <a
                                        href="tel:+1-843-953-5609">843-953-5609</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="contactssection">
                        <hr style="border: 1px solid lightgray; margin:30px;"/>
                        <div class="newsheader"><i class="fas fa-fw fa-search-location"></i>Where is it?
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5411.115764400425!2d-80.1796682757046!3d32.73817228260197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88fe8177f5b98e21%3A0x6968cc8e6255522c!2sDixie+Plantation+-+College+of+Charleston!5e0!3m2!1sen!2sus!4v1551041630075"
                                    width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <!-- student/faculty visit scheduler -->
                <div id="studentscheduler" class="scheduleviewcontainer">

                    <div class="container text-center">
                        <!-- select a visit date -->
                        <div class="schedule_element_container">
                            <form>
                                <fieldset>
                                    <h3><label for="input_visitdate">Pick a visit date</label></h3>
                                    <input
                                            id="input_visitdate"
                                            class="datepicker"
                                            name="date"
                                            type="text"
                                            autofocus
                                            value="14 August, 2014"
                                            data-value="2014-08-08">
                                </fieldset>
                            </form>
                            <div id="datecontainer"></div>
                        </div>

                        <div class="schedule_element_container">
                            <!-- select a visit date -->
                            <form>
                                <fieldset>
                                    <h3><label for="input_starttime">Schedule a start time:</label></h3>
                                    <input
                                            id="input_starttime"
                                            class="timepicker"
                                            name="start_time"
                                            type="text"
                                            autofocus
                                            value="14 August, 2014"
                                            data-value="2014-08-08">
                                </fieldset>
                            </form>
                            <div id="starttimecontainer"></div>
                        </div>

                        <div class="schedule_element_container">
                            <!-- select a visit date -->
                            <form>
                                <fieldset>
                                    <h3><label for="input_endtime">Schedule an end time:</label></h3>
                                    <input
                                            id="input_endtime"
                                            class="timepicker"
                                            name="endtime"
                                            type="text"
                                            autofocus
                                            value="14 August, 2014"
                                            data-value="2014-08-08">
                                </fieldset>
                            </form>
                            <div id="endtimecontainer"></div>
                        </div>


                        <button class="btn btn-primary lanenarrow" onclick="schedulevisit();">Schedule Visit
                        </button>
                        <div id="schedulevisitresult" class="schedulevisitresult"></div>
                    </div>

                </div>

                <!-- photo gallery -->
                <div id="gallery" class="announcementsview">
                    <div class="newsheader">
                        Photo Gallery
                    </div>
                    <div class="tz-gallery">
                        <div id="mygallery" class="row">
                            {% for img in imgs %}
                            <div class="col-sm-12 col-md-4 myimgcontainer">
                                <div class="custom_photo_button">
                                    <button
                                            onclick="delete_photo('{{img.img_path}}',{{img.id}})"class="btn btn-lg btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                                <a target="_blank" href="{{img.img_path}}" class="lightbox">
                                    <img class="mygalleryimg" src="{{img.img_path}}">
                                    <div class="custom_photo_overlay">
                                        <div class="custom_photo_text">
                                            Uploaded by {{img.uploader_name }} on {{ img.upload_datetime }}
                                            <hr style="border:1px solid white; margin:5px auto;"/>
                                            {{img.caption}}
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="text-center">
                        <button onclick="$('#uploadphotomodal').modal('show')" class="uploadphotobtn btn btn-lg
                                btn-success">
                            Upload a Photo
                        </button>
                    </div>


                </div>


                <!-- schedule list view -->
                {% if current_user.is_superuser %}
                <div class="announcementsview"><!-- DataTables Example -->
                    <div class="newsheader">
                        All Scheduled Visits
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th style="text-align:center;">First Name</th>
                                    <th style="text-align:center;">Last Name</th>
                                    <th style="text-align:center;">Visit Date</th>
                                    <th style="text-align:center;">Visit Time Interval</th>
                                </tr>
                                </thead>
                                {% for visit in visit_objects %}
                                <tr id="{{visit.id}}">
                                    <td style="text-align:center;">{{ visit.visitor_first_name}}</td>
                                    <td style="text-align:center;">{{ visit.visitor_last_name}}</td>
                                    <td style="text-align:center;">{{ visit.visit_date}}</td>
                                    <td style="text-align:center;">{{ visit.start_time}} - {{ visit.end_time }}</td>
                                </tr>
                                {% endfor %}
                                <tfoot>
                                <tr>
                                    <th style="text-align:center;">First Name</th>
                                    <th style="text-align:center;">Last Name</th>
                                    <th style="text-align:center;">Visit Date</th>
                                    <th style="text-align:center;">Visit Time Interval</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- all users view -->
                <div class="announcementsview"><!-- DataTables Example -->
                    <div class="newsheader">
                        All Users
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th style="text-align:center;">First Name</th>
                                    <th style="text-align:center;">Last Name</th>
                                    <th style="text-align:center;">Email</th>
                                    <th style="text-align:center;">Account Created</th>
                                    <th style="text-align:center;">Total Visits</th>
                                    <th style="text-align:center;">Options</th>
                                </tr>
                                </thead>
                                {% for user in all_users %}
                                <tr>
                                    <td style="text-align:center;">{{user.first_name}}</td>
                                    <td style="text-align:center;">{{user.last_name}}</td>
                                    <td style="text-align:center;">{{user.email}}</td>
                                    <td style="text-align: center">{{user.date_joined}}</td>
                                    <td style="text-align:center;">{{user.num_visits}}</td>
                                    <td style="text-align:center;">
                                        <button onclick="deleteuser({{user.id}});"
                                                class="btn btn-danger d-inline-block"><i
                                                class="fas fa-fw fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                                <tfoot>
                                <tr>
                                    <th style="text-align:center;">First Name</th>
                                    <th style="text-align:center;">Last Name</th>
                                    <th style="text-align:center;">Visit Date</th>
                                    <th style="text-align:center;">Visit Time Interval</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- Live Map view -->
                <div id="livemapview" class="announcementsview">
                    <div class="newsheader">Live Map</div>
                    <div id="map" class="map"></div>
                    <div id="nousersonsiteheader">There are currently no users on the property.</div>
                    <div id="users_on_site_table_container">
                        <div id="users_on_site_table_header">Users on Site</div>
                        <table id="users_on_site_table">

                        </table>
                    </div>

                </div>

            </div>
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer customfooter">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
            <span>Developed by <a href="http://huntaj.stu.cofc.edu" target="_blank">Austin Hunt</a>,
              <a href="https://www.linkedin.com/in/daniel-lee-b4003417b/" target="_blank">Daniel Lee</a>, &amp;
              <a href="https://www.linkedin.com/in/alex-thropp-7a4874133/" target="_blank">Alex Thropp</a></span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded infront" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Logout Modal-->
<div class="modal" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" onclick="logout();">Logout</a>
            </div>
        </div>
    </div>
</div>


<!-- create confirm schedule modal -->
<div class="modal" id="confirmEventModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirm Event?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Confirm your event.</div>
            <div class="modal-body" id="event_details"></div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" data-dismiss="modal" onclick="schedule_event();">Confirm</a>
            </div>
        </div>
    </div>
</div>
</body>


{% endblock %}



