{% extends 'main/masterpage.html' %}

{% load staticfiles %}

{% block content %}

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" id="inputEmail" onkeypress="if(this.keyCode == 13){login()};"class="form-control p-3" placeholder="Email address" required="required" autofocus="autofocus">
            </div>
            <div class="d-block text-center"><label for="inputEmail">Email address</label></div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="password"  onkeydown="if(event.keyCode==13) login();"  id="inputPassword"
                     class="form-control p-3" placeholder="Password" required="required">
            </div>
            <div class="d-block text-center"><label for="inputPassword">Password</label></div>
          </div>
          <a class="btn btn-primary btn-block" onclick="login();">Login</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="{% url 'srpwebapp:register_page' %}">Register an Account</a>
          <a class="d-block small" href="{% url 'srpwebapp:forgot_password' %}">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
