<!DOCTYPE html>

{%  load staticfiles %}

<html>
<head>
    <meta charset="utf-8" />
    <title>Stono River Preserve - Access Management Tool</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="nileforest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- include scripts in master page so they dont have to be repeated in each template -->
    <!-- src="{% static 'main/js/jquery-ui.min.js' %}" type="text/javascript" follow this format for including scripts and css -->
    <link href="{% static 'main/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{% static 'main/vendor/datatables/dataTables.bootstrap4.css' %} " rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'main/css/sb-admin.css' %}" rel="stylesheet">

    <!-- for tables page -->
    <link href="{% static 'main/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">


    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'main/vendor/jquery/jquery.min.js' %} "></script>
    <script src="{% static 'main/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'main/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Page level plugin JavaScript-->
    <script src="{% static 'main/vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'main/vendor/datatables/jquery.dataTables.js' %} "></script>
    <script src="{% static 'main/vendor/datatables/dataTables.bootstrap4.js' %} "></script>


    <!-- Custom scripts for all pages-->
    <script src="{% static 'main/js/sb-admin.min.js' %}"></script>

    <!-- Demo scripts for this page-->
    <script src="{% static 'main/js/demo/datatables-demo.js' %} "></script>
    <script src="{% static 'main/js/demo/chart-area-demo.js' %}"></script>


    <!-- Demo scripts for this page-->
    <script src="{% static 'main/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'main/js/demo/chart-bar-demo.js' %}"></script>
    <script src="{% static 'main/js/demo/chart-pie-demo.js' %}"></script>

</head>


{% block content %}

{% endblock %}

</html>

