{% extends 'main/masterpage.html' %}

{% load staticfiles %}

{% block content %}

<body class="bg-dark">


<div id="my_preloader_container">
    <div style="position:absolute; top: 30%;text-align:center; left:30%; right:30%;">
        <div class="my_preloader"></div>
    </div>
</div>


<!-- Delete selected lock code -->
<div class="modal" id="emailsentmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <div class="modal-title text-center h5" id="emailsentmodaltitle">VERIFY EMAIL</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div id="emailsentmodalcontent" class="lanenarrow h4">
                A VERIFICATION EMAIL HAS BEEN SENT TO YOUR EMAIL ADDRESS. PLEASE VERIFY YOUR EMAIL TO LOG IN.
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register an Account</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="firstName" onkeypress="if(this.keyCode == 13){register_new_account()};" class="form-control p-3" placeholder="First name" required="required" autofocus="autofocus">
                </div>
                <div class="d-block text-center"><label for="firstName">First name</label></div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="lastName" onkeypress="if(this.keyCode == 13){register_new_account()};"  class="form-control p-3" placeholder="Last name" required="required">
                </div>
                <div class="d-block text-center"><label for="lastName">Last name</label></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" id="inputEmail" onkeypress="if(this.keyCode == 13){register_new_account()};"  class="form-control p-3" placeholder="Email address" required="required">
            </div>
            <div class="d-block text-center"><label for="inputEmail">Email address</label></div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="password" id="inputPassword" onkeypress="if(this.keyCode == 13){register_new_account()};" class="form-control p-3" placeholder="Password" required="required">
                </div>
                <div class="d-block text-center"><label for="inputPassword">Password</label></div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="password" onkeydown="if(event.keyCode==13) register_new_account();"  id="confirmPassword"
                         class="form-control p-3" placeholder="Confirm password" required="required">
                </div>
                <div class="d-block text-center"><label for="confirmPassword">Confirm password</label></div>
              </div>
            </div>
          </div>
          <a class="btn btn-primary btn-block" onclick="register_new_account();">Register</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="{% url 'srpwebapp:login_page' %}">Login Page</a>
          <a class="d-block small" href="{% url 'srpwebapp:forgot_password' %}">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

</body>

</html>
